/*
!.gitignore
!readme.md
!main.py
!torch_model_helper.py
!/data
/docs/*.pdf
/docs/*.png
!/docs
!/docs/cam.png
!/docs/cm-mlp-deepEmb-attr.png
!/docs/cm-mlp-deepEmb-male.png
!/docs/cm-svm-deepEmb-attr.png
!/docs/cm-svm-deepEmb-male.png
/embeddings
/annotations
/models
/data

